{
    "lastTokenId": -1,
    "autoRevealEnabled":true,
    "rpc":"your rpc",
    "contractAddress":"the contract address of your NFT, has to implement IERC721Enumerable",
    "extraRoutes":false,
    "extraPrivateFolders":[]
}